---
import { navigationConfig } from '../config/navigation-config'
import Hamburger from './hamburger.astro'
import SplitText from '#components/split-text.astro'

type Props = {
	class?: string
}
---

<Hamburger class={Astro.props.class}>
	<ul class="md:justify-left flex h-full flex-col justify-center divide-y divide-black px-6 py-8">
		{
			navigationConfig.map((el, index1) =>
				!!el.children ? (
					<li class="flex min-h-20 flex-col items-center gap-x-8 gap-y-1 py-3 sm:min-h-24 md:flex-row">
						<span class="text-heading-4 sm:text-heading-2 text-default/90 font-light italic">
							<SplitText
								text={el.label}
								lettersItem={{
									class: 'animate-ease-out animate-duration-300 animate-fade-up ',
									style: {
										animationDelay: `calc(${index1 * 100}ms + var(--letter-index) * 30ms)`,
									},
								}}
							/>
						</span>
						<ul class="flex grow items-center gap-4">
							{el.children.map((item, index2) => (
								<li>
									<a
										href={item.url}
										class="animate-ease-out animate-fade-right sm:text-heading-4 inline-block"
										style={{
											animationDelay: `calc(${index1 * 100}ms + ${index2 * 100}ms + 300ms)`,
										}}
									>
										{item.label}
									</a>
								</li>
							))}
						</ul>
					</li>
				) : (
					<li class="md:justify-left flex min-h-20 items-center justify-center py-3 sm:min-h-24">
						<a href={el.url} class="text-heading-4 sm:text-heading-2 inline-block">
							<SplitText
								text={el.label}
								lettersItem={{
									class: 'animate-ease-out animate-duration-300 animate-fade-up ',
									style: {
										animationDelay: `calc(${index1 * 100}ms + var(--letter-index) * 30ms)`,
									},
								}}
							/>
						</a>
					</li>
				)
			)
		}
	</ul>
</Hamburger>
