---
import { navigationConfig } from '../config/navigation-config'
import Dropdown from '#components/dropdown.astro'
import Button from '#components/button.astro'
import Hamburger from './hamburger.astro'
import SplitText from '#components/split-text.astro'
---

<nav class="m-8 flex">
	<ul class="flex items-center gap-1">
		{
			navigationConfig.map((el) =>
				!!el.children ? (
					<li>
						<Dropdown title={el.label}>
							<ul class="">
								{el.children.map((children) => (
									<li>
										<a href={children.url} class="hover:bg-surface-accent-1 block px-4 py-2">
											{children.label}
										</a>
									</li>
								))}
							</ul>
						</Dropdown>
					</li>
				) : (
					<li>
						<Button as="a" href={el.url}>
							{el.label}
						</Button>
					</li>
				)
			)
		}
	</ul>
	<div class="ml-auto">
		<Hamburger>
			<ul class="flex h-full flex-col justify-center divide-y divide-black px-6 py-8">
				{
					navigationConfig.map((el, index1) =>
						!!el.children ? (
							<li class="flex flex-col gap-x-8 py-3 md:flex-row">
								<span>
									<SplitText
										text={el.label}
										lettersItem={{
											class:
												'animate-ease-out animate-duration-300 animate-fade-up text-heading-2 inline-block',
											style: {
												animationDelay: `calc(${index1 * 100}ms + var(--letter-index) * 30ms)`,
											},
										}}
									/>
								</span>
								<ul class="flex grow items-center gap-4">
									{el.children.map((item, index2) => (
										<li>
											<a
												href={item.url}
												class="animate-ease-out animate-fade-right text-heading-4 inline-block"
												style={{
													animationDelay: `calc(${index1 * 100}ms + ${index2 * 100}ms + 300ms)`,
												}}
											>
												{item.label}
											</a>
										</li>
									))}
								</ul>
							</li>
						) : (
							<li class="py-3">
								<a href={el.url}>
									<SplitText
										text={el.label}
										lettersItem={{
											class:
												'animate-ease-out animate-duration-300 animate-fade-up text-heading-2 inline-block',
											style: {
												animationDelay: `calc(${index1 * 100}ms + var(--letter-index) * 30ms)`,
											},
										}}
									/>
								</a>
							</li>
						)
					)
				}
			</ul>
		</Hamburger>
	</div>
</nav>
